# VisualStudio files
.vs/*
*.vcxproj.user
*.DotSettings
*.DotSettings.user
*.aps

# Output binaries
Junk/*
Kortex/Junk/*
Kortex/Release/*
Kortex/Debug/*

Kortex FSController/Junk/*
Kortex FSController/Release/*
Kortex FSController/Debug/*

Kortex/Release/*
Kortex/Debug/*
Kortex/Bin/FileSystemController x64.exe
Kortex/Bin/FileSystemController.exe
Kortex/Bin/Kortex x64.exe
Kortex/Bin/Kortex.exe

#Misc files
Kortex/Include/Kortex/Git/LatestCommit.txt

# Resourses
Resources/*
