# VisualStudio files
.vs/*
*.vcxproj.user

# Output binaries
Junk/*
Kortex/Junk/*
Kortex/Release/*
Kortex/Debug/*

Kortex FSController/Junk/*
Kortex FSController/Release/*
Kortex FSController/Debug/*

Kortex/Release/*
Kortex/Debug/*
Kortex/Bin/Kortex Server x64.exe
Kortex/Bin/Kortex x64.exe
Kortex/Bin/Kortex Server.exe
Kortex/Bin/Kortex.exe

# Resourses
Resources/*
