table, td, th
{
	border: 1px solid;
	border-collapse: collapse;
	padding: 0.5rem;
	font-size: 95%;
}

th
{
	top: -0.1rem;
	position: sticky;
	box-shadow: 0 2rem 2rem -1rem rgba(0, 0, 0, 0.4);
	background: var(--color-background-main);
	font-weight: bold;
	text-align: center;
}

tr
{
	text-align: center;
}

	tr:first-child > th:first-child
	{
		border: 0;
	}

	tr:hover
	{
		background-color: var(--color-quote-background);
	}

.text-left
{
	text-align: left;
}

ul
{
	text-align: left;
	list-style-type: "- ";
	list-style-position: inside;
	margin: 1rem;
	padding: 0;
}

li
{
	word-wrap: hyphenate;
}

	li.li-pro
	{
		/*color: var(--color-text-success);*/
	}

	li.li-con
	{
		/*color: var(--color-text-failure);*/
	}

.feature-name
{
	text-align: left;
	font-weight: bold;
}

.cmp-no, .cmp-unknown, .cmp-yes
{
	background-repeat: no-repeat;
	width: 3.2rem;
	height: 3.2rem;
	margin-left: auto;
	margin-right: auto;
}


.cmp-yes
{
	background-image: url(../res/tick.png);
}

.cmp-no
{
	background-image: url(../res/cross.png);
}

.cmp-unknown
{
	background-image: url(../res/question.png);
}

cmp-legend
{
}

.cmp-notes
{
	padding-left: 2rem;
	font-size: 80%;
	margin: 0;
}

ol, sup
{
	font-size: 1.2rem;
}

ol
{
	margin: 1.9rem 0 0;
	padding-left: 1.6rem;
}
