ol, sup {
	font-size: 1.2rem;
}
ol {
	margin: 1.9rem 0 0;
	padding-left: 1.6rem;
}
table {
	width: 100%;
	/* border-collapse: collapse; */
}
tr:first-child > td {
	border-top: 0.1rem solid rgba(38,38,39,1.000);
}
td {
	border-bottom: 0.1rem solid rgba(38,38,39,1.000);
	padding: 0.5rem 0;
	width: 75%;
}
td:first-child {
	min-width: 18.5rem;
	width: 25%;
}
