/** Core **/
html, body {
    /* Dimensions */
    height: 100%;
    /* General */
    margin: 0;
    overflow: hidden;
    padding: 0;
}
html {
    background: rgba(23,26,29,1.000) url(../res/nebula-1897595.jpg) no-repeat fixed center;
    background-size: cover;
    color: rgba(202,202,202,1.000);
    font: 0.625rem 'Roboto', sans-serif;
    /* Root EM default is 16px: 0.625rem means Root becomes 10px */
    /* 10px provides very easy accurate REM measurements for all elements */
    /* Using REM instead of PX means site scales with user custom font size */
}
body {
    /* Dimensions */
    width: 100%;
    /* General */
    font-size: 1.6rem; /* Reset general font sizes to comparitive 16px default */
    position: absolute;
}
a {
	color: #cacaca;
}
a:hover {
    color: #e0e0e0;
    text-decoration: underline;
    text-shadow: #3171a7 0.1rem 0.1rem 0.3rem;
}
h1, h2, h3, h4 {
	font-weight: normal;
}
h1, h2 {
    border: 0 solid #aca1a1;
}
h1 {
    border-bottom-width: 0.2rem;
    font-size: 3.2rem;
    margin: 0 0 2.1rem;
}
h2 {
    border-bottom-width: 0.1rem;
    font-size: 2.6rem;
    margin: 2.1rem 0;
}
h3 {
	font-size: 2.2rem;
}
h4 {
	font-size: 1.9rem;
}


/** Page Sizing Control **/
#globalbox {
    /* Dimensions */
    height: 100%;
    min-height: 100%;
    /* Flex Contents */
    display: flex;
    flex-flow: column nowrap;
    /* General */
    overflow-x: hidden;
    overflow-y: auto;
}
.page {
    /* Dimensions */
    width: 100%;
    /* General */
    margin: 0 auto; /* Top 0, Right auto, Bottom 0, Left auto */
    max-width: 132rem;
}


/** Section Blocks **/
.header, .footer {
    background: rgba(135,105,92,0.175);
    background: radial-gradient(rgba(39,57,50,0.200), rgba(230,152,133,0.150));
    border: 0 solid rgba(92,92,92,1.000);
}
.header {
    /* Flex Self */
    flex: 1 0 5.4rem; /* flex-grow 1, flex-shrink 0, flex-basis 5.4rem (parent: column) */
    /* General */
    border-bottom-width: 0.1rem;
}
.footer {
    /* Flex Self */
    flex: 1 0 2.7rem; /* flex-grow 1, flex-shrink 0, flex-basis 5.4rem (parent: column) */
    /* General */
    border-top-width: 0.1rem;
}

.main {
    /* Flex Self */
    flex: 1 1 100%; /* flex-grow 1, flex-shrink 1, flex-basis 100% (parent: column) */
}


/** Section Containers **/
.header_container, .footer_container, .main_container {
    /* Dimensions */
    height: 100%;
    /* Flex Contents */
    display: flex;
    flex-flow: row nowrap;
}
.header_container, .footer_container {
    align-items: center;
}
.footer_container {
    justify-content: right;
}
.main_container {
    background-color: rgba(23, 26, 29, 0.800);
}


/** Header Contents **/
.header-panel {
    flex: 1 0 auto; /* flex-grow 1, flex-shrink 0, flex-basis auto (parent: row) */
    /* Dimensions */
    height: 5.4rem;
}
.header-logo {
    height: 5.4rem;
}
.header-logo img {
    height: 100%;
}


/** Main Contents **/
.content-panel {
    /* Flex Self */
    flex: 0 0 calc(100% - 20rem); /* flex-grow 0, flex-shrink 0, flex-basis 75% (parent: row) */
    /* General */
    line-height: 1.6;
    margin: 2.4rem 0;
}
#content {
    margin: 0 2.4rem;
}
#content > h1:first-child {
    line-height: 1;
}


/** Navigation Contents **/
.side-panel {
    flex: 1 0 auto; /* flex-grow 0, flex-shrink 0, flex-basis auto (parent: row) */
    margin: 2.4rem 0 2.4rem;
}
#side-menu {
    /* Dimensions */
    min-width: 20rem;
    /* Flex Contents */
    display: flex;
    flex-flow: column nowrap;
}
.side-menu_title {
    line-height: 1;
    margin: 0.3rem 2.4rem 1.3rem 1.6rem; /* 0.3: align bottom with content h1, 1.3: padding before items, 1.6: counterweight to content margin */
	text-align: left;
}
.side-menu_title h2 {
    border: none;
    font-size: 2.9rem;
    margin: 0;
}
.side-menu_items {
    /* Flex Contents */
    align-items: left;
    display: flex;
    flex-flow: column nowrap;
    /* General */
    line-height: 1.6;
    margin: 0 2.4rem 0 1.6rem;
}
.side-menu_item {
    /* Dimensions */
    width: 100%;
    /* General */
    border-bottom: 0.1rem solid #262627;
    padding: 0.5rem 0;
    
}
.side-menu_item:first-child {
    border-top: 0.1rem solid #262627; 
}
.side-menu_item a {
    display: block;
    text-decoration: none;
    transition: .15s;
}


/** Footer Contents **/
.copyrights {
    font-size: 1.4rem;
    margin: 0 2.4rem;
}
