table {
	width: 100%;
	table-layout: fixed;
}

table, td, th {
	border: 1px solid;
	border-collapse: collapse;
	padding: 0.25rem;
}

tr {
	text-align: center;
}

ul {
	text-align: left;
}

th {
	font-weight: bold;
	text-align: center;
}
.feature-name {
	text-align: left;
	font-weight: bold;
}


.cmp-yes {
	background-image: url(../res/tick.png);
	background-repeat: no-repeat;
	width: 2rem;
	height: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.cmp-no {
	background-image: url(../res/cross.png);
	background-repeat: no-repeat;
	width: 2rem;
	height: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.cmp-unknown {
	background-image: url(../res/question.png);
	background-repeat: no-repeat;
	width: 2rem;
	height: 2rem;
	margin-left: auto;
	margin-right: auto;
}

cmp-legend {
}

.cmp-notes {
	padding-left: 2rem;
	font-size: 80%;
	margin: 0;
}
